<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="static/style4.css">
		<title>下载模型</title>
	</head>
	<body>
		<table border="1" align="center">
		<caption>文件下载</caption>
		<tr>
			<td>文件名</td>
		
			
		</tr>
		<tr>
			<td><a href = "download1">Bi-LSTM-Model.h5</a></td>	
		</tr>
		<tr>
			<td><a href = "download2">inverse_word_dictionary.pk</a></td>
		</tr>
		<tr>
			<td><a href = "download13">label_dictionary.pk</a></td>
		</tr>
		<tr>
			<td><a href = "download4">output_dictionary.pk</a></td>
		</tr>
		<tr>
			<td><a href = "download5">word_dictionary.pk</a></td>
		</tr>
		<tr>
			<td><a href = "download6">train.txt</a></td>
		</tr>
		<tr>
			<td><a href = "download7">识别结果.txt</a></td>
		</tr>
		</table>
		<input type="button" value="回到主页" style="border-radius:50%;border: none" onclick="window.location.href = 'http://127.0.0.1:5000/'" id="back" />
	</body>
</html>
