<!doctype html>
<html>
	<head>	
		<link rel="stylesheet" type="text/css" href="static/style2.css">
		<title>请选择相应功能</title>
	</head>
	<body>
		<h1>请选择相应功能</h1>
		
		<div id="btdiv">
		<button type="button" onclick="window.location.href = 'http://127.0.0.1:5000/add'" id="AddBt">完善训练集</button>
		<button type="button" onclick="window.location.href = 'http://127.0.0.1:5000/train'" id="TrainBt">训练模型</button>
		<button type="button" onclick="window.location.href = 'http://127.0.0.1:5000/predit'" id="PreditBt">识别文本</button>
		<button type="button" onclick="window.location.href = 'http://127.0.0.1:5000/downloadFile'" id="DownloadBt">下载模型</button>
		</div>
		
		
	</body>
</html>